body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: white;
}

/* Хедер растягивается на всю ширину */
.header {
    width: 100%; /* Растягиваем хедер на всю ширину экрана */
    padding: 20px 0; /* Отступы внутри хедера */
    text-align: center;
}

/* Футер растягивается на всю ширину */
.footer {
    background-color: #333;
    color: white;
    width: 100%; /* Растягиваем футер на всю ширину экрана */
    text-align: left;
}

/* Контейнер для основного контента */
.main-content {
    padding: 20px 0; /* Отступы сверху и снизу */
}

/* Ограничиваем ширину основного контента */
.container {
    margin: 0; /* Центрируем контейнер */
    padding: 0 135px; /* Отступы по бокам для контейнера */
}

h1 {
    margin: 0;
    font-weight: 500;
}
th, td {
    font-weight: normal;
    padding: 24px 0 24px 24px;
    text-align: left;
}

h3 {
    font-weight: normal;
    font-size: 20px;
}

.line {
    width: 100%;
    height: 1px; /* Высота линии */
    background-color: #000000; /* Цвет линии */
}
.total-price-container {
    height: 24px;
    display: flex;
    justify-content: space-between; /* Размещает элементы по противоположным сторонам */
    align-items: center;
    margin: 16px 0 16px 0;
}
.total-price {
    font-size: 16px;
    color: #000000;
}
.total-price-amount {
    font-size: 16px;
    color: #000000;
}
.shipping-row {
    display: flex;
    justify-content: space-between; /* Размещает текст по противоположным сторонам */
    align-items: center;
    margin: 16px 0;
}
.shipping-text {
    font-size: 16px;
    color: #000000;
}
.shipping-price {
    font-size: 16px;
    color: black;
}

.add-button {
    font-size: 16px;
    font-weight: normal;
    height: 44px;
    width: 125px;
    background-color: #db4444;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.add-button:hover {
    background-color: #E07575;
}